:root {
  --primary-text-color: #757575;
  --tittle-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-text-color: ##2196f3;
  --background-color: #2f303a;
  --unique-color: rgba(255, 255, 255, 0.6);
  --unique-background-color: #f5f4fa;
}
/* Global styles */

body {
  color: var(--primary-text-color);
  background-color: var(--secondary-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* logo header styles */

.logo-hd {
  color: var(--accent-color);
}

.logo-hd-half {
  color: var(--tittle-text-color);
}

/* nav styles */

.nav .nav-li:hover,
.nav .nav-li:focus {
  color: var(--accent-color);
}

.nav .nav-li {
  color: var(--tittle-text-color);
}

.address-li:hover,
.address-li:focus {
  color: var(--accent-color);
}

.nav .nav-li.current {
  color: var(--accent-color);
}

.address-li {
  color: var(--primary-text-color);
}
/* footer styles */

.footer {
  background-color: var(--background-color);
}

.logo-ft {
  color: var(--accent-color);
}

.logo-ft-half {
  color: var(--secondary-text-color);
}

.address-fiz {
  color: var(--secondary-text-color);
}

.foot-li {
  color: var(--unique-color);
}

.address-foot .foot-li:hover,
.address-foot .foot-li:focus {
  color: var(--accent-color);
}
